/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  background: #fff3e6;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

header{
  display: block;
  background: #1a0d00;
  color: #e63900;
  border-top: 5px solid #e63900;
  border-right: 5px solid #e63900;
  border-left: 5px solid #e63900;
  height: 200px;
}

h1{
  font-family: "Rockwell";
  font-style: bold;
  text-align: center;
  margin-top: 10px;
}

h2 {
  text-align: center;
  background: black;
  color: white;
}

.headerline {
  font-family: "Didot";
  text-align: center;
  font-style: italic;
  border-bottom: 5px solid black;
}

ul {
	min-width: 200px;
  min-height: 50px;
	list-style: none;
	margin: 0;
  padding: 10px 0;
  overflow: hidden;
  background: #e63900;
  text-align: center;
  justify-content: space-evenly;
	}

li {
  display: inline;
  font-family: "Didot";
  font-size: 32px;
  list-style-type: none;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

li a {
  padding: 16px 18px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.about-section {
  background-color: black;
  color: white;
  font-family: "Gill Sans";
  text-align: center;
}

.about-section-header {
  padding: 50px;
  border-bottom: 5px solid #e63900;
  border-right: 5px solid #e63900;
  border-left: 5px solid #e63900;

}

.about-section-body {
  border-right: 5px solid #e63900;
  border-left: 5px solid #e63900;
  border-bottom: 5px solid #e63900;
}

.body-header {
  font-size: 32px;
} 

.chef-img {
  max-width: 25%;  
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #e63900;
}