/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  background: #fff3e6;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

header{
  display: block;
  background: #1a0d00;
  color: #e63900;
  border-top: 5px solid #e63900;
  border-right: 5px solid #e63900;
  border-left: 5px solid #e63900;
  height: 200px;
}
/*  font-family: "Lucida Handwriting";

*/
h1{
  font-family: "Rockwell";
  font-style: bold;
  text-align: center;
  margin-top: 10px;
}

.headerline {
  font-family: "Didot";
  text-align: center;
  font-style: italic;
  border-bottom: 5px solid black;
}


ul {
	min-width: 200px;
  min-height: 50px;
	list-style: none;
	margin: 0;
  padding: 10px 0;
  overflow: hidden;
  background: #e63900;
  text-align: center;
  justify-content: space-evenly;
	}

	li {
    display: inline;    
    font-family: "Didot";
    font-size: 32px;
    list-style-type: none;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
	}

li a {
  padding: 16px 18px;
  text-decoration: none;
  color: black;
}

section {
  display: block;
  display: inline;
}

h3{
  text-align: center;
  font-family: "Rockwell";
  font-size: 32px;
}

.menu_page_header{
  font-family: "Rockwell";
  font-style: bold;
  text-align: center;
  font-size: 68px;
}

table {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

caption {
  font-family: "Rockwell";
  font-style: bold;
  text-align: center;
  font-size: 32px;
}

@media screen and (max-width: 800px) {
    table th tr td{
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    
  caption {
    font-family: "Rockwell";
    font-style: bold;
    text-align: center;
    font-size: 32px;
  }
}



.menu_items {
  background: black;
}

.Main_dishes {
  color: #e63900;
  border-style: solid;
  border-width: 5px;
  border-color: #e63900;
  background-color: black; 
}

.main_dish_titles {
  padding: 25px;
  justify-content: space-around;  
  align-items: center;
  font-family: "Didot";
  margin-left: auto;
  margin-right: auto;
}


.salads {
  color: black;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  background-color: #e63900; 
}

.salad_items {
  margin: 10px 40px 30px 30px;
  justify-content: space-around;  
  align-items: center;
  padding: 10px;
}

.salad_titles {
  padding: 25px;
  justify-content: space-around;  
  align-items: center;
  font-family: "Didot";
  margin-left: auto;
  margin-right: auto;
}

.breads {
  color: #e63900;
  border-style: solid;
  border-width: 5px;
  border-color: #e63900;
  background-color: black; 
}

.bread_items{
  margin: 10px 40px 30px 30px;
  justify-content: space-around;  
  align-items: center;
  padding: 10px;
}

.bread_titles {
  padding: 25px;
  justify-content: space-around;  
  align-items: center;
  font-family: "Didot";
  margin-left: auto;
  margin-right: auto;
}


.main_dish_img {
  width: 350px;
  height: 350px;
  padding: 30px;
  border: 2px solid #e63900;
  text-align: center;
}

.salad_img {
  width: 350px;
  height: 350px;
  padding: 30px;
  border: 2px solid black;
  text-align: center;
}

.bread_img {
  width: 350px;
  height: 350px;
  padding: 30px;
  border: 2px solid #e63900;
  text-align: center;
}